header
{
	background-color:	#008080;
	color: 	#FFFFFF; 

}
.two{
	background-color: 	#000000;
	color:#FFFFFF;
	font-family: 'Lobster', cursive;
	font-size: 30px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0%;
    margin-bottom: 10px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.ed{
	font-family: 'Cabin', sans-serif;
	font-size: 25px;
}
section{
	font-family: 'Source Serif Pro', serif;
	font-size: 25px;
	background-color: #C0C0C0;
}